@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face{
  font-family: jetbrains-bold;
  src: url('../public/ttf/JetBrainsMono-Bold.ttf')
}

@font-face{
  font-family: jetbrains-mono;
  src: url('../public/ttf/JetBrainsMono-Regular.ttf')
}